
<div class="container">
  <aside [ngClass]="{'toggle':sidebarToggleState}">
    <div class="logo">
      <div class="logo-name">Logo</div>
      <div class="logo-image">
        <img src="/image.png" alt="" height="40px" />
      </div>
    </div>
    <div class="items">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      ABOUT
    </div>
    <div class="items">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      ABOUT
    </div>

  </aside>

  <div class="container2">
    <header>
      <div class="example-button-container" (click)="sidebarToggle()">
        <button mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon [ngClass]="{'mat-icon-toggle':sidebarToggleState}">menu</mat-icon>
        </button>
      </div>

      <div class="example-button-container">
        <button mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </header>
    <section>
      <div class="col-left"><p>
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Sign in
        
        
        Sign in with Google
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Word Finder
        Sentences
        html
        
        HomeSentence Html
        Html Sentence Examples
        
        html
        Meanings
        Synonyms
        Sentences
        For example, HTML uses angle brackets to enclose HTML tags.
        
        15
        
        7
        
        
        After you enter in the words you wish to use, go through the options to select puzzle color, which ways the words can be found, output type (HTML for online use, PDF for a hard copy), font style and more.
        
        4
        
        0
        
        
        These scripts are also fully HTML friendly.
        
        4
        
        0
        
        
        Document Type Definition; defining the syntax of HTML as an SGML application.
        
        7
        
        4
        
        
        To fully enjoy any ecards you may receive, ensure the HTML settings on your e-mail provider are turned on.
        
        3
        
        0
        
        
        
        
        
        
        
        
        
        
        At the end, you can read about your Hollywood sweetheart and have the option to copy the results in HTML to include on your blog or MySpace page.
        
        3
        
        0
        
        
        It has an HTML browser, QWERTY keyboard, voice-guided GPS, and Bluetooth 2.0.
        
        3
        
        0
        
        
        Some people are clever enough to use HTML to hide the link, so just use a mouse rollover to view the web address in the bar at the bottom of your browser.
        
        2
        
        0
        
        
        No longer are they satisfied with simple WAP mobile web, because they want the same HTML and Java experience that they have on their desktop computers.
        
        2
        
        0
        
        
        As can be expected, this phone also has an integrated music player, built-in camera, and HTML web browser.
        
        2
        
        0
        
        
        Advertisement
        If you want to create a fancier Myspace page, including a bigger or better friend space, you'll need to edit the HTML code-a kind of computer language-that's behind the layout.
        
        2
        
        0
        
        
        Complete with spellchecking and the ability to import Word and HTML formats, RoughDraft is both powerful and easy to use.
        
        2
        
        0
        
        
        For older children and teens, 123Greetings also allows you to paste the HTML codes of their E-cards into Myspace profiles - providing you another delivery alternative.
        
        2
        
        0
        
        
        All of the scripts are in HTML format so you can read them right in your web browsers.
        
        2
        
        0
        
        
        Most of the scripts are in HTML, so that means you read them in your browser.
      </p>
      <p>
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Sign in
        
        
        Sign in with Google
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Word Finder
        Sentences
        html
        
        HomeSentence Html
        Html Sentence Examples
        
        html
        Meanings
        Synonyms
        Sentences
        For example, HTML uses angle brackets to enclose HTML tags.
        
        15
        
        7
        
        
        After you enter in the words you wish to use, go through the options to select puzzle color, which ways the words can be found, output type (HTML for online use, PDF for a hard copy), font style and more.
        
        4
        
        0
        
        
        These scripts are also fully HTML friendly.
        
        4
        
        0
        
        
        Document Type Definition; defining the syntax of HTML as an SGML application.
        
        7
        
        4
        
        
        To fully enjoy any ecards you may receive, ensure the HTML settings on your e-mail provider are turned on.
        
        3
        
        0
        
        
        
        
        
        
        
        
        
        
        At the end, you can read about your Hollywood sweetheart and have the option to copy the results in HTML to include on your blog or MySpace page.
        
        3
        
        0
        
        
        It has an HTML browser, QWERTY keyboard, voice-guided GPS, and Bluetooth 2.0.
        
        3
        
        0
        
        
        Some people are clever enough to use HTML to hide the link, so just use a mouse rollover to view the web address in the bar at the bottom of your browser.
        
        2
        
        0
        
        
        No longer are they satisfied with simple WAP mobile web, because they want the same HTML and Java experience that they have on their desktop computers.
        
        2
        
        0
        
        
        As can be expected, this phone also has an integrated music player, built-in camera, and HTML web browser.
        
        2
        
        0
        
        
        Advertisement
        If you want to create a fancier Myspace page, including a bigger or better friend space, you'll need to edit the HTML code-a kind of computer language-that's behind the layout.
        
        2
        
        0
        
        
        Complete with spellchecking and the ability to import Word and HTML formats, RoughDraft is both powerful and easy to use.
        
        2
        
        0
        
        
        For older children and teens, 123Greetings also allows you to paste the HTML codes of their E-cards into Myspace profiles - providing you another delivery alternative.
        
        2
        
        0
        
        
        All of the scripts are in HTML format so you can read them right in your web browsers.
        
        2
        
        0
        
        
        Most of the scripts are in HTML, so that means you read them in your browser.
      </p>
      <p>
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Sign in
        
        
        Sign in with Google
        Dictionary
        Thesaurus
        Sentences
        Grammar
        Vocabulary
        Usage
        Reading & Writing
        Word Finder
        Sentences
        html
        
        HomeSentence Html
        Html Sentence Examples
        
        html
        Meanings
        Synonyms
        Sentences
        For example, HTML uses angle brackets to enclose HTML tags.
        
        15
        
        7
        
        
        After you enter in the words you wish to use, go through the options to select puzzle color, which ways the words can be found, output type (HTML for online use, PDF for a hard copy), font style and more.
        
        4
        
        0
        
        
        These scripts are also fully HTML friendly.
        
        4
        
        0
        
        
        Document Type Definition; defining the syntax of HTML as an SGML application.
        
        7
        
        4
        
        
        To fully enjoy any ecards you may receive, ensure the HTML settings on your e-mail provider are turned on.
        
        3
        
        0
        
        
        
        
        
        
        
        
        
        
        At the end, you can read about your Hollywood sweetheart and have the option to copy the results in HTML to include on your blog or MySpace page.
        
        3
        
        0
        
        
        It has an HTML browser, QWERTY keyboard, voice-guided GPS, and Bluetooth 2.0.
        
        3
        
        0
        
        
        Some people are clever enough to use HTML to hide the link, so just use a mouse rollover to view the web address in the bar at the bottom of your browser.
        
        2
        
        0
        
        
        No longer are they satisfied with simple WAP mobile web, because they want the same HTML and Java experience that they have on their desktop computers.
        
        2
        
        0
        
        
        As can be expected, this phone also has an integrated music player, built-in camera, and HTML web browser.
        
        2
        
        0
        
        
        Advertisement
        If you want to create a fancier Myspace page, including a bigger or better friend space, you'll need to edit the HTML code-a kind of computer language-that's behind the layout.
        
        2
        
        0
        
        
        Complete with spellchecking and the ability to import Word and HTML formats, RoughDraft is both powerful and easy to use.
        
        2
        
        0
        
        
        For older children and teens, 123Greetings also allows you to paste the HTML codes of their E-cards into Myspace profiles - providing you another delivery alternative.
        
        2
        
        0
        
        
        All of the scripts are in HTML format so you can read them right in your web browsers.
        
        2
        
        0
        
        
        Most of the scripts are in HTML, so that means you read them in your browser.
      </p>
      </div>
    </section>
    <footer>Footer</footer>
  </div>
</div>
